body {
  font-family: "-apple-system", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background-color: #e4f0ea;
}

#console {
  width: 100%;
}

#console_header {
  height: 68px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#name_input {
  display: block;
}

#name_text_box {
  width: 140px;
}

#reload_button {
  float: right;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

#linda_status {
  float: right;
  margin-right: 8px;
  font-size: 10px;
}

#reload_button:hover {
  background-color: #dddddd;
}

#reload_button:active {
  background-color: #bbbbbb;
}

#add_img_input {
  float: left;
  display: block;
  margin-top: 4px;
}

#image_url_text_box {
  float: left;
  width: 260px;
}

#image_url_add_button {
  float: left;
  margin-left: 8px;
}

#image_url_add_button {
  float: left;
  margin-left: 8px;
}

/* リアクション画像一覧 */
#stamp_grid_view {
  margin-top: 8px;
  width: 100%;
}

/* 現在表示してるリアクションとスタンプ一覧を囲むdiv */
#console_reaction {
  margin-top: 8px;
  margin-left: 8px;
}

/* 現在表示してるリアクションのdiv */
#console_reaction_view {
  position: relative;
  float: left;
  width: 122px;
  height: 122px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 4px solid #74a78b;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* 現在表示してるリアクション画像 */
#console_reaction_img {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

.progress {
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
  width: 100%;
  visibility: hidden;
}

.progress-bar {
  width: 0;
  visibility: hidden;
}

/* スタンプのcell */
.stamp_cell {
  position: relative;
  width: 57px;
  height: 57px;
  border: 4px solid #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  float:left;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
}

.stamp_cell:hover .cell_delete_button {
  display: block;
}

.cell_delete_button {
  position:absolute;
  top:0%;
  right:0%;
  margin-top: -10px;
  margin-right: -10px;
  display: none;
}
